<li><a href="https://twitter.com/Peter_J_W" target="_blank"><i class="fa fa-twitter"></i></a></li>
<li><a href="https://www.facebook.com/pete.watters.77" target="_blank"><i class="fa fa-facebook"></i></a></li>
<li><a href="http://ie.linkedin.com/pub/peter-watters/31/8a/7a3/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
<li><a href="http://peterwatters.tumblr.com/" target="_blank"><i class="fa fa-tumblr"></i></a></li>
<li><a href="https://www.flickr.com/photos/96013078@N03/" target="_blank"><i class="fa fa-flickr"></i></a></li>
<li><a href="https://github.com/peter-watters" target="_blank"><i class="fa fa-github"></i></a></li>
<li><a href="http://stackoverflow.com/users/1365580/peadar" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>